:root {
	color-scheme: light dark;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 16px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1, h2, h3, h4, h5, h6,
section, p {
	margin: 0;
}

.container {
	width: 100%;
	min-height: 100vh;
	max-width: 60rem;
	margin: 0 auto;
	display: flex;
}

.flip-card {
	width: 400px;
	height: 533px;
	margin: auto;
}

.flip-card__inner {
	border: 2px solid blue; /* DEBUG */
	width: 100%;
	height: 100%;
	position: relative;
}